.idea
node_modules
package-lock.json

src/Powercord/plugins/stylemanager/styles/*
!src/Powercord/plugins/stylemanager/styles/pc-*.css
!src/Powercord/plugins/stylemanager/styles/pc-*.scss

config.json
