.idea
node_modules
package-lock.json
yarn.lock

src/Powercord/plugins/pc-stylemanager/styles/*
!src/Powercord/plugins/pc-stylemanager/styles/pc-*.css
!src/Powercord/plugins/pc-stylemanager/styles/pc-*.scss

config.json
