.idea
.vscode
/.cache
/.logs
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

src/Powercord/plugins/*
!src/Powercord/plugins/pc-*

src/Powercord/coremods/react-devtools/ext
src/Powercord/themes/*
!src/Powercord/themes/.exists

settings/*.json

config.json
*injected.txt
*.nogit.*

# macOS
.DS_Store
