.channelTextArea-1HTP3C .inner-3if5cm {
  background: transparent !important;
  border: 2px #e52626 solid;
}

.app {
  background-image: url("https://c.wallhere.com/photos/02/49/Bleach_Kurosaki_Ichigo_Mugetsu_Final_Getsuga_Tenshou_anime-6232.png!d");
  background-size: cover !important;
  background-position: center !important;
}

.channels-3g2vYe {
  background-color: rgba(0,0,0,0);
}

.container-RYiLUQ {
  background-color: transparent;
}

.layers-20RVFW, .layer-kosS71, .container-2OU7Cz, .typing-3eiiL_ {
  background: transparent !important;
}

.layers-20RVFW {
  background: rgba(0,0,0, 0.625) !important;
}

.container-2OU7Cz {
  background-color:  rgba(0,0,0,0);
}

.theme-dark .layer, .theme-dark .layers {
  background: transparent;
}

.guilds-wrapper {
  background: transparent;
}

.theme-dark .chat form {
  background-color: transparent;
  box-shadow: none;
}

.theme-dark .chat > .content {
  background-color: transparent;
}

.theme-dark .chat {
  background-color: transparent;
}

.hljs, .markup pre {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.theme-dark .friends-table, .theme-dark .messages-wrapper {
  background-color: transparent;
}
.theme-dark .members-1bid1J {
  background-color: transparent;
}
.theme-dark .title-qAcLxz {
  background: transparent;
  box-shadow: none;
}
.theme-dark #friends {
  background-color: transparent;
}
.theme-dark .headerBar-cxbhPD {
  background: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region {
  background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
  background: transparent;
}
.theme-dark .ui-standard-sidebar-view {
  background: transparent;
}
