.powercord-badge:not(img):before {
  content: none;
}

.powercord-badge-wrapper {
  margin-right: 0;
}

.powercord-badge {
  box-sizing: border-box;
  padding: 3px;
}

.powercord-badge-cutie img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.topSection-13QKHs .profileBadge22-3GAYRy, .profile-3qfB4q .profileBadge22-3GAYRy {
  width: 24px;
  height: 24px;
}

/* Guild badges */
.header-3OsQeK .powercord-badge {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  position: relative;
  padding: 0;
  top: 1px;
}

.header-3OsQeK .powercord-badge.powercord-badge-cutie,
.header-3OsQeK .powercord-badge.powercord-badge-cutie img {
  width: 18px;
  height: 18px;
}

.tooltip-14MtrL .rowGuildName-21wur6 .powercord-badge-cutie {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

/* Replugged Cutie */
.powercord-donate-modal .powercord-donate-title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.powercord-donate-modal .powercord-donate-subtitle {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.powercord-donate-modal .powercord-donate-subtitle:before,
.powercord-donate-modal .powercord-donate-subtitle:after {
  content: '';
  flex: 1;
  background-color: var(--background-accent);
  margin: 0 10px;
  height: 1px;
}

.powercord-donate-modal .powercord-donate-tier {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.powercord-donate-modal .powercord-donate-tier .icon {
  width: 48px;
  margin-right: 16px;
}

.powercord-donate-modal .powercord-donate-tier .details span {
  display: block;
}

.powercord-donate-modal .powercord-donate-tier .price {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}

.powercord-donate-modal .powercord-donate-tier .price sup {
  font-size: 16px;
  font-weight: normal;
  vertical-align: baseline;
}
